<nav class="navbar navbar-light container-fluid" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Students Angular Example</a>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <span class="navbar-text">
  <file-upload></file-upload>
  </span>
</nav>