<div>
    <!-- Navigation bar -->
    <app-navbar></app-navbar>

    <!-- Router outlet-->
    <router-outlet></router-outlet>
    
    <div class="container mt-5 mb-5">
        <weather-widget></weather-widget>
        <div *ngIf="students">
            <bar-chart [students]="students"></bar-chart>
            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Student with the best score</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">name</th>
                                        <th scope="col">Lastname</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{ best_student.id }}</th>
                                        <td>{{ best_student.name }}</td>
                                        <td>{{ best_student.lastName }}</td>
                                        <td>{{ best_student.score }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Student with the lower score</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">name</th>
                                        <th scope="col">Lastname</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{ worst_student.id }}</th>
                                        <td>{{ worst_student.name }}</td>
                                        <td>{{ worst_student.lastName }}</td>
                                        <td>{{ worst_student.score }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>        
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-stretch ">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">General Average</h5>
                            <h4 class="card-text mt-4"><strong>{{ general_score }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Students Table</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">User Key</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students">
                                        <th scope="row">{{ student.id }}</th>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.lastName }}</td>
                                        <td>{{ student.score }}</td>
                                        <td>{{ student.user_key }}</td>
                                        <td>
                                            <label class="btn btn-warning">
                                                rotate
                                            </label>   
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>