<div class="row mb-5" *ngIf="weatherData">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Weather</h5>
            <div class="card-body">
                <h5 class="card-title"><em>{{ weatherData.name }}</em> <small> (approximate location)</small></h5>
                <ul class="card-text list-inline">
                    <li class="list-inline-item"><strong>Current: </strong> {{ weatherData.main.temp }}°</li>
                    <li class="list-inline-item"><strong>Max: </strong> {{ weatherData.main.temp_max }}°</li>
                    <li class="list-inline-item"><strong>Min: </strong> {{ weatherData.main.temp_min }}°</li>
                </ul>
            </div>
        </div>
    </div>
</div>

